.productList {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	justify-content: center;
	column-gap: 80px;
	row-gap: 50px;
}

@media screen and (max-width: 1140px) {
	.productList {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.productList {
		grid-template-columns: repeat(1, 1fr);
	}
}